//- Main book listing page
extends layout.pug

block content 
  h1= pageTitle
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book, index in books
        tr
          td
            a(href=`/books/${book.dataValues.id}`)= book.dataValues.title
          td= book.dataValues.author
          td= book.dataValues.genre
          td= book.dataValues.year