//- Main book listing page
extends layout.pug

block content 
  .wrapper
    h1= pageTitle
    .page-header
      p
        a.button(href='/books/new') Create New Book
      .book-search
        input(placeholder="Search for a book...")
        button Search
    .book-list
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr.book-item
              td
                a(href=`/books/${book.dataValues.id}`)= book.dataValues.title
              td= book.dataValues.author
              td= book.dataValues.genre
              td= book.dataValues.year
    .pagination
      - var n = 0;
      ul
        while n < totalPages
          li
            a.page(href='#')= 1 + n++
    script
      include ../public/scripts/script.js